<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTray35.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WpfTray35.Properties.Settings>
            <setting name="Period" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="MessagesUrl" serializeAs="String">
                <value>/feed/inbox/</value>
            </setting>
            <setting name="ThumbsUrl" serializeAs="String">
                <value>/feed/like/</value>
            </setting>
            <setting name="RatesUrl" serializeAs="String">
                <value>feed/new/</value>
            </setting>
            <setting name="st" serializeAs="String">
                <value>http://topface.ru</value>
            </setting>
            <setting name="vk" serializeAs="String">
                <value>http://vkontakte.ru/topface#</value>
            </setting>
            <setting name="fb" serializeAs="String">
                <value>http://apps.facebook.com/topface</value>
            </setting>
            <setting name="mm" serializeAs="String">
                <value>http://my.mail.ru/apps/535018#</value>
            </setting>
            <setting name="uid" serializeAs="String">
                <value>0000000000</value>
            </setting>
            <setting name="auth" serializeAs="String">
                <value>00000000000000000000000000000000</value>
            </setting>
        </WpfTray35.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
      <bindings>
        <webHttpBinding>
          <binding name="BasicHttpBinding_UserService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <security mode="None"/>
          </binding>
        </webHttpBinding>
      </bindings>
      <client>
        <!--endpoint address="http://localhost:3295/UserStateService.svc" binding="webHttpBinding" bindingConfiguration="BasicHttpBinding_UserService" contract="UserStateServiceReference.IUserStateService" name="BasicHttpBinding_UserService" behaviorConfiguration="EndBehave"/-->
        <endpoint address="http://alpha.topface.ru" binding="webHttpBinding" bindingConfiguration="BasicHttpBinding_UserService" contract="UserStateServiceReference.IUserStateService" name="BasicHttpBinding_UserService" behaviorConfiguration="EndBehave"/>
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="EndBehave">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>